
.form-select {
    height: 38px !important;
    font-size: medium !important;
    outline: 0 !important;
    cursor: pointer;
}
.form-select:focus,
.form-select:hover {
    border-color: var(--primary) !important;
    outline: none !important; /* Removes the outline when input is focused */
    box-shadow: none !important; /* Removes the box-shadow if any is applied */
  }
