.navlink {
    border-radius: 6px;
    padding: 8px 12px;
    color: var(--text);
    cursor: pointer;
    font-size: medium;
    align-self: center;
    text-decoration: none !important;
}
.navlink:hover,
.navlink:active,
.navlink-active {
    background-color: var(--bg-primary-light);
}