.page-link {
    color: var(--text) !important;
    
}
.page-link:hover,
.page-item.active,
.active>.page-link {
    background-color: var(--primary-light) !important;
    border-color: var(--primary-light) !important;
}

.pagination {
    border-radius: 6px !important;
}
